@{
    ViewBag.Title = "Amazing Wallpapers // Walltage.com";
    ViewBag.Description = "A online wallpaper database on the net";
    ViewBag.Keyword = "wallpaper, abstract, nature, wide screen, city, vs.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-section">
    <div class="jumbotron">
        <h1>Hi there !</h1>
        <p>This web site maybe could makes beautify your desktop screen.</p>
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <form ng-controller="SearchController">
                <div class="input-group col-md-6 col-md-offset-3">
                    <input type="search" name="q" class="form-control input-lg" placeholder="Find your screen..." />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="submit"><i class="fa fa-search"></i> Search</button>
                    </span>
                </div>
            </form>
        }
    </div>
</section>

<section class="category-section">
    <div class="container" data-bind="fadeVisible: Categories().length == 0">
        <div class="row">
            <div class="col-md-3">
                <ul data-bind="foreach: Categories">
                    <li><a data-bind="attr: {href: 'Category/' + Id, title: Name }, text: Name"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="feed-section">
    <div class="container" data-bind="visible: Wallpapers().length > 0">
        <div class="grid" data-bind="foreach: Wallpapers">
            <figure class="effect-apollo">
                <img class="lazy" data-bind="attr: { src: '../Uploads/Thumbs/' + ImgPath, alt: Name }" />
                <figcaption>
                    <h2 style="display:none">Strong <span>Apollo</span></h2>
                    <p data-bind="text: Name"></p>
                    <a data-bind="attr: { href: '/home/wallpaper/' + Id, title: Name }">view more...</a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
@section Scripts {
    <script src="/assets/app/category.js"></script>
    <script>

        var Home = {};

        Home.WallpaperViewModel = function () {
            var self = this;
            self.Id = ko.observable("");
            self.Name = ko.observable("");
            self.ImgPath = ko.observable("");

            var Wallpaper = {
                Id: self.Id,
                Name: self.Name,
                ImgPath: self.ImgPath
            };

            self.Wallpaper = ko.observable();
            self.Wallpapers = ko.observableArray();

            $.ajax({
                url: '@Url.Action("GetHomePageWallpapers", "Home")',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (data) {
                    console.log(data);
                    self.Wallpapers(data);
                }
            });
        };

        Home.CategoryViewModel = function () {
            var self = this;
            self.Id = ko.observable("");
            self.Name = ko.observable("");

            var Category = {
                Id: self.Id,
                Name: self.Name
            };

            self.Category = ko.observable();
            self.Categories = ko.observableArray([]);

            $.getJSON('@Url.Action("GetCategories", "Home")', function (result) {
                console.log(result);
                self.Categories(result);
            });
        };

        ko.applyBindings(Home.WallpaperViewModel, $("section.feed-section")[0]);
        ko.applyBindings(Home.CategoryViewModel, $("section.category-section")[0]);
    </script>
}