/********************************************
Project : A wallpaper database - walltage.com
Author  : Abdurrahman ISIK
Date	: 05 Jul 2015 00:29
********************************************/
@import '_mixin.scss';

$font-stack: 'Dosis', sans-serif;
$primary-color: #e44c65;
$secondary-color: #272833;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color:#33343e;
	font: 100% $font-stack;
}

.navbar {
	margin-bottom:0;
}



@include keyframes(fade-out) {
	33%   { 
		opacity: 1;
	}
	66% { 
		opacity: 0;
	}
}

.banner-section {
	display:table;
	margin:0 auto;
	width:100%;
	text-align:center;
	/*-- Full Height --*/
	height: 80vh; 
	color:	rgba(255,255,255,0.9);
	/*-- Create an Overlay --*/
	&:after {
		content: '';
		position:absolute;
		left:0;
		width:100%;
		height:80%;
		background-color: rgba(118, 144, 164, 0.4);
		z-index:0;
	}
	ul.bg-slider{
		li {
			width: 100%;
			height:80%;
			position:absolute;
			background-size:cover;
			background-repeat: no-repeat;
			background-position: 100%;
			z-index: 0;
			opacity: 0;
			@include background-animation(fade-out);
			background-image: url(../assets/images/search-bg.jpg);
		}
		/*-- Image 2 --*/
		li:nth-child(2){
			background-image: url(../assets/images/search-bg2.jpg);
			@include animation-delay(3s);
		}
		/*-- Image 3 --*/
		li:nth-child(3){			
			background-image: url(../assets/images/search-bg3.jpg);
			@include animation-delay(3s);
		}
	}
	.jumbotron { 
		display: table-cell;
		vertical-align: middle;
		position:relative;
		z-index: 4;
		padding:0 5%;
		background:transparent;
		text-align: center;
		.input-group .input-lg {
			@include border-radius(0);
			background: rgba(255,255,255,0.4);
			box-shadow:none;
			color:#fff;
			@include placeholder{color: #fff}
			&:focus {
				background: rgba(255,255,255,0.6);
			}
		}
		.input-group span.input-group-addon {
			@include border-radius(0);
			background-color: $primary-color;
			cursor: default;
		}
		
	}
}

footer {
	display:block;
	background:$secondary-color;
	padding:5em 0;
	text-align:center;
	ul {
		cursor:default;
		list-style:none;
		padding-left:0;
		font-size:1.8em;
		li {
			display: inline-block;
			padding: 0 0.5em;
			a {
				text-decoration:none;
				transition: color 0.4s ease-out;
				&:hover { 
					text-decoration:none;
					color: $primary-color;
				}
				span.label { display:none;}
			}
		}
	}
	.copyright {
		color: rgba(255, 255, 255, 0.5);
		font-size: 1em;
		line-height: 1em;
		margin: 2em 0 0 0;
		padding: 0;
		text-align: center;
		li:first-child {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
		}
		li {
			border-left: solid 1px rgba(255, 255, 255, 0.3);
			display: inline-block;
			list-style: none;
			margin-left: 1.5em;
			padding-left: 1.5em;
			i {
				font-size: 0.8em;
				color: $primary-color;
			}
		}
	}
}