@model Walltage.WebUI.Models.WallpaperViewModel

@{
    ViewBag.Title = @Model.Category.Name + " Wallpapers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="feed-section" style="background:#111">
        <div class="container">
            <h1><i class="fa fa-search"></i> @Model.Category.Name Wallpapers</h1>
            <div class="grid">
                @foreach (var item in Model.WallpaperList)
                {
                    <figure class="effect-apollo">
                        <img class="lazy" src="~/wallpapers/thumbs/@item.ImgPath" alt="@item.Name" />
                        <figcaption>
                            <h2 style="display:none">Strong <span>Apollo</span></h2>
                            <p>@item.Name</p>
                            <a href="~/home/wallpaper/@item.WallpaperId">view more...</a>
                        </figcaption>
                    </figure>                    
                }
            </div>
        </div>
    </section>
