@{
    ViewBag.Title = "Amazing Wallpapers // Walltage.com";
    ViewBag.Description = "A online wallpaper database on the net";
    ViewBag.Keyword = "wallpaper, abstract, nature, wide screen, city, vs.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-section">
    <!-- list items for bg images -->
    <ul class="bg-slider">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="jumbotron">
        <h1>Hi there !</h1>
        <p>This web site maybe could makes beautify your desktop screen.</p>
        <div class="input-group col-md-6 col-md-offset-3">
            <input type="search" class="form-control input-lg" placeholder="Find your screen..." aria-describedby="addon" />
            <span class="input-group-addon" id="addon"><i class="fa fa-search"></i> Search</span>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        @*@foreach (var item in Model)
        {
            <div class="col-xs-6 col-md-3">
                <a href="~/wallpaper/@item.Id" class="thumbnail">
                    <img src="@item.FilePath" alt="@item.Name" title="@item.Name" />
                </a>
            </div>
        }*@
    </div>
</div>
