@{
    ViewBag.Title = "Top 100 Wallpaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="feed-section" style="background:#111">
        <div class="container">
            <h1><i class="fa fa-sort-amount-asc"></i> Top 100 Wallpaper</h1>
            <div class="grid">
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-89706.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-171500.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-237306.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-237110.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-227057.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-227372.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-114220.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-204738.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-224998.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-56240.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-164335.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
                <figure class="effect-apollo">
                    <img class="lazy" data-original="http://wallpapers.wallhaven.cc/wallpapers/thumb/small/th-117987.jpg" alt="" />
                    <figcaption>
                        <h2>Strong <span>Apollo</span></h2>
                        <p>Apollo's last game of pool was so strange.</p>
                        <a href="">view more...</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
